{% extends 'tiendapp/base.html'%}
{% load static %}

{% block title %}Colecciones | {{ block.super }}{% endblock %}

{% block content %}
<section class="featured-products">
    <div class="container">
        <h2>Nuevos Tribalismos</h2>
        
        <div class="product-grid">
    {% for producto in productos %}
        <article class="product-card">
            {% if producto.imagen %}
                <div class="product-image" style="background-image: url('{{ producto.imagen.url }}')"></div>
            {% else %}
                <div class="product-image" style="background-image: url('{% static 'images/product-placeholder.jpg' %}')"></div>
            {% endif %}
            <h3>{{ producto.nombre }}</h3>
            <p>${{ producto.precio }}</p>
        </article>
    {% empty %}
        <p>No hay productos disponibles.</p>
    {% endfor %}
</div>
    </div>
</section>
{% endblock %}